@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafafa;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .topnav a {
    float: right;
    color: #fafafa;
    background-color: #333;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #3689e6;
    transition: background-color 0.2s;
  }
  
  .topnav a:hover {
    background-color: #3689e6;
    color: #fafafa;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 12px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #mySidenav a {
    position: absolute;
    right: -69px;
    transition: 0.3s;
    padding: 5px;
    width: 95px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px 0 0 0;
    background-color: #3689e6;
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #github {
    top: 100px;
  }
  
  #mail {
    top: 140px;
  }

   /* The side navigation menu */
.sideopen {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1a1a1a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sideopen a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sideopen a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sideopen .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideopen {padding-top: 15px;}
  .sideopen a {font-size: 18px;}
} 
